*{
    font-family: Helvetica, sans-serif;
}
.aabbcc{
    display: block;
    margin: auto;
    padding: 5px;
    width: 300px;
    height: 40vh;
    
}
.aabbccdd{
    display: block;
    margin: auto;
    padding: 5px;
    width: 600px;
    height: 400px;
    
}
.aabbccddee span{
    font-size: 1.5rem;
    margin: 5px;
    padding: 5px;
    width: 10%;
    display: inline-block;
}
.aabbccddee .xxx{
    width: 50%;
}
.aabbccddee ul li{
    border: 1px solid black;
    margin: 10px 20px;
}
.aabbccddee ul li:hover{
    background-color: greenyellow;
}

.custom{
    display: block;
    height: 120px;
    margin: 10px 5px;
    color: black;
    font-size: 5rem;
    text-align: center;
    padding-top: 10px;
}
.written{
    width: 100%;
    color: rgb(39, 32, 32);
    text-align: center;
    margin-top: 50px;
}
.strength{
    border-bottom: 3px solid rgb(39, 32, 32);
}
.present{
    color: rgb(140, 233, 0);
    border-bottom: 3px solid rgb(140, 233, 0);
}
.absent{
    color: red;
    border-bottom: 3px solid red;
}
.leave{
    color: rgb(4, 166, 253);
    border-bottom: 3px solid rgb(4, 166, 253);
}
.late{
    color: rgba(253, 170, 4, 0.652);
    border-bottom: 3px solid rgba(253, 170, 4, 0.652);
}
.piece{
    text-align: center;
    width: 95%;
    margin: 5px auto;
    height: 30vh;
    display: flex; /* Use flex container */
    flex-direction: column; /* Vertical direction, adjust as needed */
    align-items: stretch; /* Stretch children vertically */
    justify-content: stretch; /* Stretch children horizontally */

}
.ddr{
    width: 15%;
}
h4{
    text-align: justify;
}