* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }
  
  .user_Management {
    background: rgb(193, 227, 243);
    height: fit-content;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }
  
  .users li {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 0.1rem solid rgba(112, 107, 77, 0.842);
    border-radius: 8px;
    padding: 1rem;
    margin-top: 1rem;
  }
  
  #del_btn {
    margin-top: 1rem;
    width: fit-content;
  }
  
  /* Media Queries */
  @media screen and (min-width: 768px) {
    .users li {
      flex-direction: row;
    }
  
    #del_btn {
      margin-top: 0;
      margin-left: 1rem;
    }
  }
  