* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}


.sidebar{
  color: #fff;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.logo-icons img{
  height: 10rem;
  width: 10rem;
}

.menu-bar{
  height: 88vh;
  margin-top: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  font-size: 1.3rem;
}
.topbar{
  position: relative;
}
.toggle_btn{
  position: fixed;
  top: 1.5rem;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.toggle{
  margin-left: 15px;
}

/* View Attendance SECTION */


.VA_main {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.VA_main .classes {
  height: 23rem;
  width: 100%; /* Adjusted width for smaller screens */
  max-width: 25rem; /* Added max-width for larger screens */
  margin: 8rem 1rem; /* Adjusted margin for smaller screens */
  border: .4rem solid rgb(113, 221, 185);
  border-radius: 8px 100px;
  align-items: center;
  text-align: center;
  padding-top: 8rem;
  font-size: 4rem;
  font-weight: bolder;
  font-style: italic;
  color: rgb(113, 221, 185);
}
.VA_main .classes:hover{
  font-size: 5rem;
  border: .2rem solid red;
  color: rgb(221, 73, 73);
  border-radius: 8px 100px;
}

/* View Attendance SECTION */

@media screen and (max-width: 600px) {
  .VA_main{
    flex-direction: column;
    justify-content: space-between;
  }
  .VA_main .classes {
    width: 96%;
  }
}
